# 1: Employee Performance Bonus Eligibility

In [ ]:
Employees = {
    "Ravi": 92,
    "Anita": 88,
    "Kiran": 92,
    "Suresh": 85
}

# Finding the highest score
highest_score = max(Employees.values())

# Finding all employees with the highest score
top_performers = [name for name, score in Employees.items() if score == highest_score]

# Result display
print(f"Top Performers(employees) Eligible for Bonus: {', '.join(top_performers)} (Score: {highest_score})")

Top Performers(employees) Eligible for Bonus: Ravi, Kiran (Score: 92)

# 2: Search Query Keyword Analysis

In [ ]:
import string

search_text = "Buy mobile phone buy phone online"

# Converting to lowercase
formatted_text = search_text.lower()

# Removing punctuation
clean_text = formatted_text.translate(str.maketrans('', '', string.punctuation))

# Spliting into words and counting frequency
terms = clean_text.split()
count_dict = {}

for term in terms:
    count_dict[term] = count_dict.get(term, 0) + 1

# Only keywords searched more than once
filtered_output = {key: value for key, value in count_dict.items() if value > 1}

print(filtered_output)

{'buy': 2, 'phone': 2}

# 3: Sensor Data Validation

In [ ]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]

valid_readings = []

for hour_index, reading_value in enumerate(sensor_readings):
    if reading_value % 2 == 0:   # this checks if reading is even (valid)
        valid_readings.append((hour_index, reading_value))

print("Valid Sensor Readings (Hour, Value):")
print(valid_readings)

Valid Sensor Readings (Hour, Value):
[(1, 4), (3, 8), (4, 10), (5, 12)]

# 4: Email Domain Usage Analysis

In [ ]:
emails = [
    "ravi@gmail.com",
    "anita@yahoo.com",
    "kiran@gmail.com",
    "suresh@gmail.com",
    "meena@yahoo.com"
]

domain_count = {}

# Count users per domain
for e in emails:
    domain = e.split("@")[1]
    domain_count[domain] = domain_count.get(domain, 0) + 1

total_users = len(emails)

# Calculate and display percentage usage
for domain, count in domain_count.items():
    percentage = (count / total_users) * 100
    print(f"{domain}: {int(percentage)}%")

gmail.com: 60%
yahoo.com: 40%

# 5: Sales Spike Detection

In [ ]:
sales = [1200, 1500, 900, 2200, 1400, 3000]

# Calculate average daily sales
average_sales = sum(sales) / len(sales)

print("average sales :" , average_sales)
# Detect days where sales are more than 30% above average
threshold = average_sales * 1.30

for day_number, sale_value in enumerate(sales, start=1):
    if sale_value > threshold:
        print(f"Day {day_number}: {sale_value}")

average sales : 1700.0
Day 6: 3000

# 6: Duplicate User ID Detection

In [1]:



user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]

# Dictionary to store frequency of each user ID
user_count = {}

# Count occurrences of each user ID
for user_id in user_ids:
    if user_id in user_count:
        user_count[user_id] += 1
    else:
        user_count[user_id] = 1

# Display only duplicate user IDs (count > 1)
for user_id, count in user_count.items():
    if count > 1:
        print(f"{user_id} → {count} times")

user1 → 3 times
user3 → 2 times